.header-bg {
    background-color: teal;
    
}
.navbar-text {
    color: white;;
    font-weight: 500;
    text-decoration: none;
}

.navbar a:hover {
    color: rosybrown;
    background-color: bisque;
    text-decoration: underline;
    position:relative;
    display: inline-block;
    
  }